<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SocketIO</title>
</head>
<body>
	<input type="text" name="" id="word">
	<hr>
	<p id="result"></p>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<script>
		var input = document.querySelector('#word');
		var socket = io('http://localhost:3000');

		socket.on('disconnect', () => {
			console.log('desconnectado');
		});

		socket.emit('welcome', { name: 'diego' });

		input.addEventListener('input', event => {
			socket.emit('word', input.value)
		});

		socket.on('result', data => {
			document.querySelector('#result').innerHTML = data;
		});

	</script>
</body>
</html>